









/*-------------------------------------contact--------------------------------------------*/


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg1.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
} 

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon1{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #262626;
}

.contactForm .inputBox input:focus~span ,
 .contactForm .inputBox input:valid~span,
 .contactForm .inputBox textarea:focus~span,
 .contactForm .inputBox textarea:valid~span
 {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


@media (max-width: 991px){

    .contact 
    {
        padding: 50px;
    }

    .container{
        flex-direction: column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    }

    .container .contactInfo, .contactForm{
        width: 100%;
    }
}

/*--------------------------------------------login form---------------------------------------------------------*/


.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
    background: url(bg1.jpg);
    background-size: cover;
    border: 4px solid cyan;
}


.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: cyan;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: cyan;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background: cyan;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}

.login-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, hotpink);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0%{
        left: -100%;
    }

    50%,100%{
        left: 100%;
    }
}

.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, cyan );
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2{
    0%{
        top: -100%;
    }

    50%,100%{
        top: 100%;
    }
}

.login-box a span:nth-child(3){
    bottom: 0;
    right: 100%;
    width: 100%;
    height:2px ;
    background: linear-gradient(270deg, transparent, hotpink );
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3{
    0%{
        right: -100%;
    }

    50%,100%{
        right: 100%;
    }

}

.login-box a span:nth-child(4){
    bottom:-100% ;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, cyan );
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }

    50%,100%{
        bottom: 100%;
    }

}



/*-----------------------------------------------about us ------------------------------------------------*/


.heading{
    text-align: center;
    margin-top: 25px;
    color: #fff;
}

.heading h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.heading p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    color: #fff;
}

.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;

}

.about-us img:hover{
    box-shadow: 0 0 5pc cyan, 0 0 25px cyan,  0 0 50px cyan,  0 0 100px cyan,  0 0 200px cyan;

}

.content{
    padding: 35px;
}

.content h2{
    font-size: 24px;
    margin: 15px 0px;
}

.content p{
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}

.read-more-btn{

    display: inline-block;
    color: #fff;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    padding: 10px 5pc;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  
}

.read-more-btn:hover{
    background-color: cyan;
    box-shadow: 0 0 5pc cyan, 0 0 25px cyan,  0 0 50px cyan,  0 0 100px cyan,  0 0 200px cyan;
}

@media (max-width:768px){
    .about-us{
        flex-direction: column;
    }

    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }

    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }  
}




/*----------------------------------registeration form--------------------------------------*/

.containers{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

.form-box{
    position: relative;
    width: 400px;
    height: 550px;
    border: 2px solid rgba(255, 255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg1.jpg);
    background-size: cover;
    border: 4px solid cyan;
}

.form-box h2{
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.form-box .input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.form-box .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: #fff;
    font-size: 16px;
}

i{
    position: absolute;
    color: #fff;
    top: 13px;
    right: 0;
}

input::placeholder{
    color: #fff;
}

.btn{
    color: #fff;
    background:cyan;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
}

.group{
    display: flex;
    justify-content: space-between;
}

.group span a{
    color: #fff;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-weight: 500;
}

.group a:focus{
    text-decoration: underline;
}

.group .button{
    color: black;
}

#result{
    color: red;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .4s, top .4s;
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: #000;
}

.popup ion-icon{
    color: #00ff00;
    font-size: 50px;
}

.popup button{
    width: 100%;
    background: cyan;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px  rgba(0,0,0,0.1);
}

.popup a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.open-slide{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}


.button a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: cyan;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.button a:hover{
    background: cyan;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}

.button a span{
    position: absolute;
    display: block;
}

.button a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, hotpink);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0%{
        left: -100%;
    }

    50%,100%{
        left: 100%;
    }
}

.button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, cyan );
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2{
    0%{
        top: -100%;
    }

    50%,100%{
        top: 100%;
    }
}

.button a span:nth-child(3){
    bottom: 0;
    right: 100%;
    width: 100%;
    height:2px ;
    background: linear-gradient(270deg, transparent, hotpink);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3{
    0%{
        right: -100%;
    }

    50%,100%{
        right: 100%;
    }

}

.button a span:nth-child(4){
    bottom:-100% ;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, cyan );
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }

    50%,100%{
        bottom: 100%;
    }

}